@font-face {
  font-family: "Romantic";
  src: local("Romantic"), url(./fonts/Romantic.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Winter";
  src: local("Winter"), url(./fonts/Winter.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}