.wrapper {
  position: absolute;
  z-index: 10;
  top: 100vh;
  width: 100vw;
  height: 100%;
  overflow-y: auto;
}

.iconWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: white;
}

.bg {
  width: 100%;
  height: 130%;
  background-repeat: no-repeat;
  background-size: 160vw;
  background-position: 2% 80%;
  box-shadow: inset 0 0 0 2000px rgba(237, 246, 249, 0.8);
}

.bg.mobile {
  background-size: cover;
  background-position: 31% center;
}

.eventWrapper {
  background: none;
  margin: 1em 0 !important;
}

.eventDateTime {
  font-family: "Quicksand_Bold";
  font-size: 1.5em !important;
}

.eventDateTime.mobile {
  font-size: 1.2em !important;
}
