.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.wrapper.mobile {
  flex-direction: column;
}

.logoWrapperWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  height: 50vh;
  width: 50vw;
  padding-bottom: 50vh;
}

.logoWrapperWrapper.mobile {
  width: 100vw;
  padding-bottom: 0;
}

.logoWrapper {
  width: 60vw;
  transform: rotate(-20deg);
  z-index: 10;
}

.logoWrapper.mobile {
  height: 30vh;
  width: 75vw;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg {
  width: 100%;
  height: 130%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(255, 241, 230, 0.7);
  overflow-x: hidden;
}

.bg.mobile {
  background-size: cover;
  background-position: 60% center;
}

.headerTextWrapper {
  width: 50vw;
  height: 50vh;
  padding-top: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  z-index: 10;
}

.headerTextWrapper.mobile {
  width: 100vw;
  padding-top: 0;
}

.headerText {
  color: #3a3a3a;
  font-family: "Romantic";
  font-size: 4em;
  text-align: center;
  overflow: visible;
  transform: rotate(-20deg);
}

.headerText .names {
  font-size: 1.4em;
}

.headerText .date {
  font-size: 0.6em;
}

.headerText.mobile {
  font-size: 2.1em;
}
