.item {
  position: fixed;
  top: 40%;
  overflow: visible;
  transform: scale(0.5);
  stroke: #000;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-linecap: round;
  z-index: 999;
}

.item.mobile {
  transform: scale(0.4);
  stroke-width: 8;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background: linear-gradient(0deg, rgba(255, 241, 230), rgba(255, 241, 230));
  object-fit: cover;
}
